{% extends '::base.html.twig' %}

{% block body %}

    <div class="inner bg-home">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner mainPageCarousel">
                <div class="item active">
                    <h1>CrazySunDesign</h1>
                </div>
                <div class="item">
                    <h1>22222</h1>
                </div>
                <div class="item">
                    <h1>333333</h1>
                </div>
            </div>
        </div>

    </div>
{% endblock %}